.footer {
  background-color: black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  /* footer height value - contact heigh */
  min-height: 40vh;
}

.footer__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer__content::after {
  content: "";
  width: 540px;
  height: 1px;
  opacity: 0.4;
  background: var(--white__color);
  margin: 2em 0px;
  border-radius: 7px;
}

.footer__title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link-wrapper {
  margin-right: 2.5em;
}

.social__link-wrapper:nth-last-child() {
  margin: 0px;
}

.social__img {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}

#linkedin {
  background-color: white;
  border-radius: 100%;
}

.social__logo {
  width: 100%;
}

.footer span {
  text-align: center;
}

.footer span a {
  color: var(--white__color);
  text-decoration: underline;
}
