.home__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 70%;
  z-index: 0;
}

.me__icon {
  border-radius: 100%;
  width: 15vw;
}

.home__title {
  text-transform: uppercase;
  font-size: 7vh;
  text-align: center;
}

.home__info-text {
  text-align: center;
  font-size: 2.2vh;
}

.home__link-button {
  margin-top: 2em;
}

.home__button {
  font-size: 1.2em;
  transition: all 0.2s;
}

.home__button:hover {
  color: var(--blue__color);
}

.scroll {
  position: absolute;
  top: 80vh;
}

.scroll span {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 70px;
}
.scroll span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scrollDown 2s infinite;
  animation: scrollDown 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.scroll__text {
  margin-top: 4em;
  font-weight: lighter;
}
